body {
  background-color: #336e7b;
  font-family: 'Arial', sans-serif;
  text-align: center;

  min-width: 320px;
  margin: 20px;
  padding: 0;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  max-width: 400px;
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  background-color: white;

  border: 2px solid #1BA39C;
  border-top: #1BA39C solid 5px;
  border-radius: 10px;
}

.logo {
  height: 50px;
  margin-bottom: 20px;
}

p {
  line-height: 1.5em;
}

a {
  color: #1BA39C;
}