
.static-page
  .about-page
    .container

      %h1 Our mission

      .row
        .col-md-8.col-md-offset-2

          %h3
            Reliefwatch was founded in 2012 by Daniel Yu (CEO) to help health organizations around the world using technology.

      .row
        .team-box.hidden-sm.hidden-xs
          .col-md-2.col-md-offset-3
            =image_tag 'daniel.png', class: 'profile-pic'
            %h3 Daniel

          .col-md-2
            =image_tag 'david.png', class: 'profile-pic'
            %h3 David

          .col-md-2
            =image_tag 'stelios.png', class: 'profile-pic'
            %h3 Stelios

      .row
        .col-md-6.col-md-offset-3
          %p
            We created Reliefwatch because useful technologies have not spread equally throughout the world. In an era when data analysis is a powerful tool against global health problems, the means for gathering and sharing information remain limited.
          %p
            At the same time, basic mobile phones have transformed the lives of billions in the developing world. Our passion lies in using technology in innovative ways to provide solutions with these new infrastructures.

  .call-to-action-box.blue
    .container

      %h2
        Ready to move beyond paper forms and spreadsheets?

      .col-md-4.col-md-offset-4

        = link_to contact_path, class: 'btn btn-lg btn-primary btn-block' do
          Request a demo
