.about-page.container
  .row.feature-box
    .col-md-6.centered.ta-center
      %h1 About Reliefwatch

    .col-md-9.centered.ta-center

      %h3
        Reliefwatch was formed in October 2012 by Daniel Yu (CEO) to help health organizations across the developing world through technology.

    .team-box
      .container

        .row.hidden-sm.hidden-xs
          .col-md-2.col-md-offset-3
            =image_tag 'daniel.png', class: 'profile-pic'
            %h3 Daniel

          .col-md-2
            =image_tag 'david.png', class: 'profile-pic'
            %h3 David

          .col-md-2
            =image_tag 'stelios.png', class: 'profile-pic'
            %h3 Stelios

  .row.feature-box
    .col-md-8.centered
      %h4
        We created Reliefwatch because innovative technology has not spread equally through all parts of the world. In an era in which data is the most powerful tool for fighting global health problems, the means for collecting this data has remained limited.
        %br/
        %br/
        At the same time, basic mobile phones have transformed the lives of billions of people across the developing world, providing a platform for innovative technology to take root.
        %br/
        %br/
        Our passion lies in utilizing technology in innovative ways to provide solutions through existing infrastructure.
