
.static-page
  .careers-page
    .container

      %h1 Business Development Manager

      .row
        .col-md-8.col-md-offset-2

          %h2.left Company Overview
          %p.left
            Imagine needing a medication to a curable disease only to find when you go to your only local pharmacy that it’s all out of stock. The World Health Organization estimates that 40% of all health centers in the developing world are experiencing stockouts right now, affecting millions of people everyday.
          %p.left
            Reliefwatch is a platform for multinational NGOs that operate health clinics in developing countries to report inventory records and disease cases. Since computers and internet are not widely available in these areas, Reliefwatch allows health center workers to digitize and update inventory records simply via text and automated voice calls. Once digitized, medical distributors can easily and effectively monitor supplies across multiple health clinics and warehouses, estimating when new shipments will be needed to avoid stockouts.
          %p.left
            Reliefwatch also aggregates data across health clinics and regional branches to provide a holistic overview of an entire organization’s key metrics. Reliefwatch’s technology has already been deployed through Central America, and was just selected by a USAID-funded initiative to launch in West Africa to track essential supplies and disease cases of Ebola.

          %h2.left Position Description
          %p.left
            Reliefwatch’s Business Development Manager will establish partnerships with healthcare-oriented NGOs and research and evaluate potential verticals where Reliefwatch’s technology can be expanded and implemented. The Business Development Manager will also work to secure funding for Reliefwatch beyond client acquisition through grants and competitions.
          %p.left
            Reliefwatch is a Chicago-based startup looking for a Business Development Manager who wants to help make the world a better place for the millions of people who don’t have dependable access to lifesaving medications. We don’t know all of the answers and the work will be demanding, but you will have a lot of autonomy and be part of a passionate team with a focus on creative problem solving and technological innovation.

          %h2.left Responsibilities
          %ul.left
            %li Design and direct sales outreach to establish partnerships with multi-national NGOs
            %li Conduct user and product research with existing clients
            %li Complete applications for grants and competitions
            %li Support customers after implementation
            %li Work in collaboration with technical and business teams in downtown Chicago office

          %h2.left Qualifications
          %ul.left
            %li Required: Bachelors degree or higher
            %li Required: 4+ years of international experience in Sales or Business Development
            %li Experience working for an international health-oriented NGO
            %li Ability to work independently and responsibly with limited oversight
            %li Strong written and oral communication skills
            %li Bonus: familiarity with one of the following languages: Spanish, French, Arabic, Hindi, Mandarin, Portuguese, Russian

          %h2.left How to Apply
          %ul.left
            %li Send all application materials to kathleen [at] reliefwatch [dot] com
            %li A CV and cover letter are required. Please limit your cover letter to one page.

          %h2.left Office Location
          %p.left
            Reliefwatch
            %br
            C/O The Chicago Innovation Exchange
            %br
            1452 E. 53rd Street, 2nd FL
            %br
            Chicago, IL 60615

          %p.left
            %em
              Posted November 7, 2014
