
.static-page
  .careers-page
    .container

      %h1 Jobs at Reliefwatch

      .row
        .col-md-8.col-md-offset-2

          %h3
            Interested in joining a growing team on a social mission?

      .row
        .team-box.hidden-sm.hidden-xs
          .photo-box
            =image_tag 'andrew.png'
            %h4 Andrew

          .photo-box
            =image_tag 'daniel.png'
            %h4 Daniel

          .photo-box
            =image_tag 'david.png'
            %h4 David

          .photo-box
            =image_tag 'kathleen.png'
            %h4 Kathleen

          .photo-box
            =image_tag 'margarita.png'
            %h4 Margarita

          .photo-box
            =image_tag 'stelios.png'
            %h4 Stelios

          .photo-box
            =image_tag 'bowie.png'
            %h4 You?

      .row
        .col-md-6.col-md-offset-3
          %p
            We're currently seeking a full-time business development manager based in Chicago:
            = link_to 'View more information & apply', '/business-development-job-description'
