
.static-page
  .careers-page
    .container

      %h1 Jobs at Reliefwatch

      .row
        .col-md-8.col-md-offset-2

          %h3
            Interested in joining a growing team on a social mission?

      .row
        .team-box.hidden-sm.hidden-xs
          .col-md-2.col-md-offset-2
            =image_tag 'daniel.png', class: 'profile-pic'
            %h3 Daniel

          .col-md-2
            =image_tag 'david.png', class: 'profile-pic'
            %h3 David

          .col-md-2
            =image_tag 'stelios.png', class: 'profile-pic'
            %h3 Stelios

          .col-md-2
            =image_tag 'bowie.png', class: 'profile-pic'
            %h3 You?

      .row
        .col-md-6.col-md-offset-3
          %p
            We are currently seeking a full-time business developer in Chicago:
            = link_to 'More information', '/Reliefwatch-Biz-Dev-Job-Description.pdf'
