
.static-page
  .feature-page
    .container

      %h1 Welcome to Reliefwatch

      .row
        .col-md-8.col-md-offset-2
          %h3
            Our platform tracks inventory &amp; diseases for healthcare organizations in the developing world.

      .row
        .col-md-6.col-md-offset-1

          %h4
            %i.fa.fa-check
            No new hardware or installations

          %p.left
            Reliefwatch relies on existing infrastructure: health clinic workers use the phones they already own, smartphone or not. Reliefwatch is designed to be as intuitive as possible and requires no technical expertise to get started.

          %h4
            %i.fa.fa-globe
            A truly global reach

          %p.left
            Our platform can track inventory & diseases in over 180 countries and has support for 12 different languages. Your data can be accessed from anywhere in the world.

          %h4
            %i.fa.fa-search
            Reduce waste &amp; improve efficiency

          %p.left
            We automatically track when medications expire, making sure nothing goes to waste. We help identify any source of lost inventory and eliminate bottlenecks.

        .col-md-4
          %blockquote.left.push-down
            %p To date, Reliefwatch has digitized over 9 million units of medical supplies.

          %blockquote.left.push-down
            %p Our platform has been shown to reduce the expiration rate by over 90%.

.static-page
  .call-to-action-box.blue
    .container

      %h2 Move beyond paper forms and spreadsheets

      .row
        .col-md-4.col-md-offset-4
          = link_to contact_path, class: 'btn btn-lg btn-primary btn-block' do
            Request a demo today
