.feature-page.container
  .row.feature-box
    .col-md-6.ta-center
      %h1 What is Reliefwatch?

    .col-md-9.ta-center

      %h3
        Reliefwatch is a platform specifically designed for health organizations in the developing world to track inventory and disease cases.
  
  .row.feature-box
    .col-md-8
      %h3
        No new hardware, installations, or downloads

      %h4
        Reliefwatch requires no new hardware and relies entirely on existing infrastructure: health clinic workers can use the phones they already have, smartphone or dumbphone, wherever they happen to be. Reliefwatch uses automated voicecalls to collect information about health clinic inventory and diseases cases. From there the information can then be accessed from anywhere via the web.

      %h3
        Global Reach
      %h4
        Reliefwatch can be used in over 180 countries and configured for 12 different languages.

      %h3
        No IT Setup Required
      %h4
        Reliefwatch is designed to be as simple and intuitive as possible to use, and requires no technical expertise to get started.

      %h3 Reduce Waste
      %h4 We automatically keep track of when medications expire, making sure nothing goes to waste.

      %h3 Improve Efficiency
      %h4 Identify any source of lost inventory, simplify your operations, and eliminate supply chain bottlenecks.

.static-page
  .call-to-action-box.blue
    .container

      %h2 Get started right away
      %h3.white
        Reliefwatch can be setup and ready to go for your organization within 24 hours.

      .col-md-4.col-md-offset-4

        = link_to contact_path, class: 'btn btn-lg btn-primary btn-block' do
          Request a demo