
.static-page
  .careers-page
    .container

      %h1 Full-Stack Developer

      .row
        .col-md-8.col-md-offset-2

          %h2.left Company Overview
          %p.left
            Imagine needing a medication to a curable disease only to find that your local pharmacy is out of stock. Even worse, you live in a rural area with no other pharmacies nearby.
          %p.left
            Reliefwatch tracks inventory & diseases for health organizations in the developing world. We help reduce stock-outs and minimize expiring medication.
          %ul.left
            %li Just graduated from Impact Engine (Chicago-based accelerator)
            %li Live product with recurring revenue

          %h2.left Our Stack
          %p.left
            Ruby on Rails, PostgreSQL, jQuery, CoffeeScript, HAML, and SASS all running on Heroku. Familiarity with these technologies is preferred but not required.

          %h2.left Qualifications
          %ul.left
            %li You write clean, reliable front &amp; backend code
            %li Familiarity with testing (we use RSpec &amp; Capybara)
            %li Ability to work well in teams or independently
            %li Strong written and oral communication skills
            %li Experience scaling web apps is a big plus
            %li Bonus: Familiarity with Twilio &amp; PhoneGap (or similar technologies)

          %h2.left How to Apply
          %p.left
            Send all applications to david [at] reliefwatch [dot] com

          %h2.left Office Location
          %p.left
            Reliefwatch
            %br
            C/O The Chicago Innovation Exchange
            %br
            1452 E. 53rd Street, 2nd FL
            %br
            Chicago, IL 60615

          %p.left
            %em
              Posted February 3, 2015
