
/ HOME
%section#home.home.section
  .container.text-center

    %h1.title Track supplies & diseases anywhere.
    %p.intro Inventory management created for health organizations in the developing world.
    .btns
      %a.btn.btn-cta-secondary.scrollto{ href: "#features" } Learn More
      %a.btn.btn-cta-primary.scrollto{ href: "#contact" } Schedule Demo
    .meta
      %a.scrollto{ href: "#features" }
        %i.fa.fa-angle-down

  .partners
    .container.text-center
      %ul.list-inline
        %li Partner A
        %li Partner B
        %li Partner C

/ FEATURES - How it works
%section#features.features.section
  .container

    %h2.title.text-center What is Reliefwatch?
    .video
      %iframe{ src: "https://player.vimeo.com/video/110306532?title=0&amp;byline=0&amp;portrait=0;color=ffffff", frameborder: "0", webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }
    %p.intro.text-center
      Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>

    .row

      .item.col-md-4.col-sm-6.col-xs-12
        .icon-holder
          %i.fa.fa-heart
        .content
          %h3.sub-title Feature
          %p
            Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

      .item.col-md-4.col-sm-6.col-xs-12
        .icon-holder
          %i.fa.fa-heart
        .content
          %h3.sub-title Feature
          %p
            Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

      .item.col-md-4.col-sm-6.col-xs-12
        .icon-holder
          %i.fa.fa-heart
        .content
          %h3.sub-title Feature
          %p
            Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

/ REGIONS - Where we are
%section#regions.regions.section
  .container.text-center
    %h2.title Where we work
    %ul.feature-list.list-unstyled

      %li
        %i.fa.fa-check
        List item

      %li
        %i.fa.fa-check
        List item

      %li
        %i.fa.fa-check
        List item

      %li
        %i.fa.fa-check
        List item

      %li
        %i.fa.fa-check
        List item

/ ABOUT - About us
%section#about.about.section
  .container
    .about-inner

      %h2.title.text-center About us

      .info

        %p
          Our mission...

        %p
          Our company rocks...

        .cta-container
          .speech-bubble
            %p.intro
              You should joing our team...

          .btn-container.text-center
            JOB LINK

/ PRESS - In the news
%section#press.press.section.hidden-xs.hidden-sm
  .container

    %h2.title.text-center In the news

    .row

      .item.col-md-4.col-sm-6.col-xs-12
        .icon-holder
          %i.fa.fa-heart
        .content
          %h3.sub-title Story
          %p
            Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

      .item.col-md-4.col-sm-6.col-xs-12
        .icon-holder
          %i.fa.fa-heart
        .content
          %h3.sub-title Story
          %p
            Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

      .item.col-md-4.col-sm-6.col-xs-12
        .icon-holder
          %i.fa.fa-heart
        .content
          %h3.sub-title Story
          %p
            Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

/ CONTACT
%section#contact.contact.section
  .container
    .contact-inner

      %h2.title.text-center Contact

      %p.intro.text-center
        I hope you find this Bootstrap template useful. Free to get in touch if you have any questions or suggestions.

      .author-message
        .profile
          =image_tag 'shital.png'
        .speech-bubble

          %h3.sub-title Subtitle

          %p
            Paragraph of stuff

          .source
            .name John Doe
            .title Job Title
