<!DOCTYPE html>
<html>
<body>
  <p>
    The following message was sent through the contact form:
  </p>

  <p>
    Message: <%= @message %>
  </p>

  <p>
    Name: <%= @name %>
    <br>
    Email: <%= @email %>
    <br>
    Company: <%= @company %>
  </p>
</body>
</html>
