
.static-page
  text-align: center
  margin-bottom: -40px // Offset wrap padding

  h1, h2, h3, h4
    line-height: 1.5em

  p, li
    font-size: 1.2em
    line-height: 1.8em

    &.normal
      font-size: 1em

  .blue
    background-color: $blue
    h1, h2, h3
      color: $light-blue
    h4, p
      color: $white

  .pattern
    background: image-url("pattern.png") repeat center center
    background-attachment: fixed

  .hero-box
    padding: 10% 0

    h1
      margin-top: 50px
    h4
      font-weight: $normal
      margin-bottom: 20px
    .btn
      margin: 20px 0 50px 0

  .video
    width: 60%
    margin: 40px auto
    position: relative
    padding-bottom: 34%

    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

  .partner-box
    background-color: $true-white
    h4
      float: left
      width: 130px
      padding-top: 15px
      color: $med-gray
    .partner-logo
      width: 100px
      margin: 20px

  .feature-box
    padding: 3em 0
    p
      font-size: 1.3em
      margin: 2em 0
    img
      border: 4px solid $med-light-gray
      padding-bottom: 1em

  .call-to-action-box
    padding: 3em 0
    .btn
      margin: 1em 0

.about-page, .careers-page
  padding-top: 3em
  padding-bottom: 3em

  h3, h4
    margin-bottom: 2em

  .team-box
    .photo-box
      display: inline-block
      width: 100px
      margin: 0 10px
      img
        width: 100px

.left
  text-align: left

.push-down
  margin-top: 40px

.feature-page
  padding-top: 3em
  padding-bottom: 3em
  margin-bottom: 3em

  h3
    margin-bottom: 2em

  h4, p
    text-align: left

  .fa
    font-size: 24px
    position: relative
    top: 2px
    margin-right: 5px

  p
    margin-bottom: 1.5em

.contact-page
  padding-top: 3em
  padding-bottom: 3em

  form
    margin-top: 2em
    text-align: left
