
.navbar
  padding: 10px 15px
  margin: 0

  background-color: $blue
  border-radius: 0
  border: none
  border-bottom: 5px solid $aqua

  a
    display: inline-block

  .logo
    height: 50px
    margin-left: -15px

  .navbar-text
    font-weight: $normal
    color: $white
    float: initial
    display: inline
    position: relative
    top: 2px

  ul.nav li a
    color: $white
    margin-top: 5px
    padding: 10px 20px

  .navbar-right
    margin-right: 0

    li.dropdown.open a.dropdown-toggle, li.active a, li.active a:hover
      background-color: $aqua
      margin-bottom: -10px
      padding-bottom: 25px
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0

  ul.dropdown-menu li a
    color: $med-gray

  a, .nav .dropdown-menu
    border-radius: 5px

  .sign-in
    color: $white
    padding: 1em
