
.navbar
  padding: 6px 15px
  margin: 0

  background-color: $blue
  border-radius: 0
  border: none
  border-bottom: 5px solid $aqua

  .logo
    height: 50px
    margin-left: -15px

  .navbar-text
    font-weight: $normal
    color: $white
    float: initial
    display: inline
    position: relative
    top: 2px

  ul.nav li a
    color: $white

  .navbar-right
    margin-right: 0

    li.dropdown.open a.dropdown-toggle, li.active a, li.active a:hover
      background-color: $aqua

  ul.dropdown-menu li a
    color: $med-gray

  a, .nav .dropdown-menu
    border-radius: 5px

  .sign-in
    color: $white
    padding: 1em
