
// Colors

$dark-primary: #1d3e45
$primary: #336e7b
$light-primary: #C5EFF7

$dark-secondary: #10615d
$secondary: #1BA39C
$light-secondary: #22cfc6

$orange: #E87E04
$dark-orange: #D35400

$white: #EEE
$true-white: #FFF

$black: #222
$med-gray: #777
$med-light-gray: #ccc
$light-gray: #f8f8f8

$red: #CF000F

// Fonts

$header-font: "Roboto Slab", sans-serif
$body-font: "Roboto", sans-serif

$bold-header: 700

$light-body: 300
$normal-body: 400
$bold-body: 700
