
// Colors

$dark-blue: #1d3e45
$blue: #336e7b
$light-blue: #C5EFF7

$dark-aqua: #10615d
$aqua: #1BA39C
$light-aqua: #22cfc6

$white: #EEE
$true-white: #FFF

$black: #222
$med-gray: #777
$med-light-gray: #ccc
$light-gray: #f8f8f8

$red: #CF000F

// Fonts

$normal: 400
$bold: 700
