%footer.footer
  .container
    = "&copy; ".html_safe + Date.today.year.to_s + " Reliefwatch Inc."
    .pull-right
      %a{ href: "#", 'data-toggle' => "modal", 'data-target' => "#terms-of-service" }
        Terms of Service
      %br
      %a.iubenda-white.iubenda-embed{ href:"https://www.iubenda.com/privacy-policy/499823", title: "Privacy Policy" }
        Privacy Policy