
%header#header.header
  .container

    .logo.pull-left
      %a.scrollto{ href: "#home" }
        = image_tag 'Reliefwatch-logo-trans.png', alt: 'Reliefwatch'

    %nav#main-nav.main-nav.navbar-right{ role: "navigation" }

      .navbar-header
        %button.navbar-toggle{ type: "button", 'data-toggle' => "collapse", 'data-target' => "#navbar-collapse" }
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

      .navbar-collapse.collapse#navbar-collapse
        %ul.nav.navbar-nav
          %li.active.nav-item.sr-only
            %a.scrollto{ href: "#home" } Home
          %li.nav-item
            %a.scrollto{ href: "#features" } How it works
          %li.nav-item
            %a.scrollto{ href: "#regions" } Where we work
          %li.nav-item
            %a.scrollto{ href: "#about" } About us
          %li.nav-item.hidden-xs.hidden-sm
            %a.scrollto{ href: "#press" } In the news
          %li.nav-item.last
            %a.scrollto{ href: "#contact" } Contact
