
%header#header.header
  .container

    .logo.pull-left
      %a.scrollto{ href: "#home" }
        %h3.red.nav-item
          Khizar Jafri | County Board

    %nav#main-nav.main-nav.navbar-right{ role: "navigation" }

      .navbar-header
        %button.navbar-toggle{ type: "button", 'data-toggle' => "collapse", 'data-target' => "#navbar-collapse" }
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

      .navbar-collapse.collapse#navbar-collapse
        %ul.nav.navbar-nav
          %li.active.nav-item.sr-only
            %a.scrollto{ href: "#home" } Home
          %li.nav-item
            %a.scrollto{ href: "#features" } About
          %li.nav-item
            %a.scrollto{ href: "#issues" } Issues
          %li.nav-item.hidden-xs.hidden-sm
            %a.scrollto{ href: "#support" } Your Support
